

<div id= "About" class="container py-5 mb-5">
    <div class="row">
      <div class="col-md-6">
        <h2>About Us</h2>
        <p class="px-3 mt-3">
          We are a leading company committed to delivering the best products and services to our customers. 
          Our vision is to provide high-quality solutions that improve lives and empower businesses.
          We pride ourselves on innovation, customer satisfaction, and sustainability.
        </p>
        <p class="px-3">
          Founded in 2020, our team is dedicated to creating lasting relationships with our clients and delivering exceptional results.
        </p>
      </div>
  
      <div class="col-md-6">
        <h3>Our Location</h3>
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d13820.464892098258!2d31.2014103!3d30.004819!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x145846f6c30683f5%3A0x3413c810c9a22c3a!2sAllam%20Market!5e0!3m2!1sen!2seg!4v1731167395973!5m2!1sen!2seg" 
            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
         </div>
      </div>
    </div>
  </div>
  